<hr>
<h1>Manufacturers</h1>
<hr>
<table class="table">
  <tr class="table-header">
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Telephone</th>
    <th></th>
  </tr>

  <% for manufacturer in @manufacturer %>

  <tr>
    <td><%= manufacturer.id %></td>
    <td><%= manufacturer.name %></a></td>
    <td><%= manufacturer.address %></td>
    <td><%= manufacturer.telephone %></td>
    <td><a href="/manufacturers/<%= manufacturer.id %>">Details</a></td>
   </tr>
  </tr>

  <% end %>
</table>
