<hr>
<h1>Manufacturer Details</h1>
<hr>
<div class="container-details">
  <table class="manufacturer-details">
    <tr>
      <td><strong>Manufacturer Name:</strong></td>
      <th class="table-header"><%= @manufacturer.name %></th>
    </tr>
    <tr>
      <td>Manufacturer ID: </td>
      <td><%= @manufacturer.id %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td> <%= @manufacturer.name %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><%= @manufacturer.address %></td>
    </tr>
    <tr>
      <td>Telephone:</td>
      <td><%= @manufacturer.telephone %></td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td><form method="get" action="/manufacturers/<%=@manufacturer.id%>/edit">
        <input type='submit' value="Edit Manufacturer"id="edit_button"/>
      </form></td>
      <td><form method="post" action="/manufacturers/<%=@manufacturer.id%>/delete">
        <input type='submit' value="Delete Manufacturer" id="delete_button"/>
      </form></td>
    </tr>
  </table>
</div>
