<h1>Items on Stock</h1>

<a href="/items/new">Add New Item</a>

<br><br>

<table>
  <tr>
    <th>Product ID  </th>
    <th></th>
    <th>Manuf. Name</th>
    <th></th>
    <th>Product Name</th>
    <th></th>
    <th>Product Type</th>
    <th></th>
    <th>Stock Level</th>
    <th></th>
    <th>Profit</th>
  </tr>

  <% for item in @item %>

  <tr>
    <td><%= item.id %></td>
    <td>|</td>
    <td><%= Manufacturer.find(item.manufacturer_id).name%></td>
    <td>|</td>
    <td><a href="/items/<%= item.id %>"><%= item.name %></a></td>
    <td>|</td>
    <td><%= item.type %></td>
    <td>|</td>
    <td><%= item.level %></td>
    <td>|</td>
    <td><%= item.markup %>%</td>
  </tr>
  <% end %>
</table>
