<hr>
<h1>Items in Stock</h1>
<hr>
<table class="table">
  <tr class="table-header">
    <th>Product Name</th>
    <th>Product Type</th>
    <th>Manufacturer</th>
    <th>Stock Level</th>
    <th>Profit</th>
    <th></th>
  </tr>

  <% for item in @item %>

  <tr>
    <td><%= item.name %></td>
    <td><%= item.type %></td>
    <td><%= Manufacturer.find(item.manufacturer_id).name%></td>
    <td class="<%= item.level_by_color %>"><%= item.level %></td>
    <td class="<%= item.markup_level %>"><%= item.markup %>%</td>
    <td><a href="/items/<%= item.id %>">Details</a></td>
  </tr>

  <% end %>
</table>
