<h1>Items on Stock</h1>

<table>
  <tr>
    <th>ID  </th>
    <th></th>
    <th>Name</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Stock Level</th>
    <th></th>
    <th></th>
    <th>Profit</th>

  </tr>
  <% for item in @items %>
  <tr>
    <td><%= item.id %></td>
    <td>|</td>
    <td><a href="/items/<%= item.id %>"><%= item.name %></a></td>
    <td>|</td>
    <td><%= item.type %></td>
    <td>|</td>
    <td><%= item.level %></td>
    <td>|</td>
    <td><%=  %></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
