<hr>
<h1>Product details</h1>
<hr>
<div class="container-details">
  <table class="item-details">
    <tr>
      <td><strong>Product Name:</strong></td>
      <th class=table-header><%= @item.name %></th>
    </tr>
    <tr>
      <td>Type:</td>
      <td><%= @item.type %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= @item.description %></td>
    </tr>
    <tr>
      <td>Manufacturer:</td>
      <td><%= @item.manufacturer.name %></td>
    </tr>
    <tr>
      <td>Purchase Price:</td>
      <td><%= @item.purchase_price %></td>
    </tr>
    <tr>
      <td>Sell Price:</td>
      <td><%= @item.sell_price %></td>
    </tr>
    <tr>
      <td>Markup:</td>
      <td><%= @item.markup %>%</td>
    </tr>
    <tr>
      <td>Quantity in Stock:</td>
      <td><%= @item.quantity_in_stock %></td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>
        <form method="get" action="/items/<%=@item.id%>/edit">
          <input type='submit' value="Edit Item" id="edit_button"/>
        </form>
      </td>
      <td>
        <form method="post" action="/items/<%=@item.id%>/delete">
          <input type='submit' value="Delete Item" id="delete_button"/>
        </form>
      </td>
    </tr>
  </table>
</div>
