<h1 class="bg-info"><%= @item.name %></h1>

<!-- <p>Manufacturer ID:   <%= @item.manufacturer_id %></p> -->
<p>Type:              <%= @item.type %></p>
<p>Description:       <%= @item.description %> </p>
<p>Manufacturer:      <%= @item.manufacturer.name %></p>
<p>Purchase Price:    <%= @item.purchase_price %></p>
<p>Sell Price:        <%= @item.sell_price %> </p>
<p>Markup:            <%= @item.markup %>%</p>
<p>Quantity in Stock: <%= @item.quantity_in_stock %> </p>


<form method="get" action="/items/<%=@item.id%>/edit">
  <input type='submit' value="Edit Item" id="edit_button"/>
</form>

<form method="post" action="/items/<%=@item.id%>/delete">
  <input type='submit' value="Delete Item" id="delete_button"/>
</form>
